@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}

body{
    transition: background-color 0.1s ease;
    font-family: 'Bona Nova', serif;
    background-image: url('https://i.pinimg.com/1200x/cd/60/1b/cd601b5bde91f0872de32a548814e154.jpg');
    overflow-x: hidden;
}

h1{
    font-size: 4vw;
    color: #780000;
}

p{
    font-size: 2vw;
    color:#780000;
    max-width: 50%;
    min-width: 40%;
}


img{
    margin: auto;
    max-width: 400px;
}
.title{
    max-width: 800px;
}

#title{
    color: black;
}

.between-left{
    position: absolute;
    transform: translate(100%, -80%);
}

.between-right{
    position: absolute;
    transform: translate(340%, -80%);
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10%;
    max-width: 75%;
}

.images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2%;
    max-width: 600px;
}

.img{
    width: 500%;
    height: auto;
}

#lice{
    transition: transform .2;
}

#lice:hover{
    transform: scale(1.2);
}

#patched-up{
    transition: transform .2;
}

#patched-up:hover{
    transform: scale(1.2);
}

#loveworm{
    transition: transform .2;
}

#loveworm:hover{
    transform: scale(1.2);
}

#space-cadet{
    transition: transform .2;
}

#space-cadet:hover{
    transform: scale(1.2);
}

#extended-play{
    transition: transform .2;
}

#extended-play:hover{
    transform: scale(1.2);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 4% 0;
}

section .animate{
    transition: 1s;
}

.sec-3 h1{
    color:#fdf0d5;
}
.sec-3 p{
    color:#fdf0d5;
}

.sec-1 .animate{
    transform: translateX(-100%);
}
.sec-1.show-animate .animate{
    transform: translateX(0);
}

.sec-2 .animate{
    transform: scale(.5);
}
.sec-2.show-animate .animate{
    transform: scale(1);
}

.sec-3 .animate{
    transform: scale(.5);
}
.sec-3.show-animate .animate{
    transform: scale(1);
}

.sec-4 .animate{
    transform: scale(.7);
}
.sec-4.show-animate .animate{
    transform: scale(1);
}

.sec-5 .animate{
    transform: scale(.7);
}
.sec-5.show-animate .animate{
    transform: scale(1);
}

.sec-6 .animate{
    transform: scale(.7);
}
.sec-6.show-animate .animate{
    transform: scale(1);
}

.sec-7 .animate{
    transform: scale(.7);
}
.sec-7.show-animate .animate{
    transform: scale(1);
}

/* colors */
.color-beige{
    background: #fdf0d5;
}

.color-brown{
    background: #a52a2a;
}

.color-yellow{
    background: #f1f1b7;
}

.color-orange{
    background: #ffa500;
}

.color-pink{
    background: #edafb8;
}

.color-blue{
    background: #9dc2d0;
}